/*
Font Guide
Headline : 96px / 60px / 48px / 34px / 24px / 20px
Subtitle : 16px / 14px(bold)
Body : 16px / 14px
Caption : 12px
Overline : 10px

Colot
Navy : #001e4d
SkyBlue : #5597d1
Red : #c40f39
*/

/*********************************
	Default CSS 
*********************************/
.lyt_full {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.lyt_grid {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
.flex_box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.flex_spbet {
  justify-content: space-between;
}
.flex_rowre {
  flex-direction: row-reverse;
}
.lyt_item {
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
}
.lyt_item12 {
  width: 100%;
}
.lyt_item10 {
  width: 83.33333333%;
}
.lyt_item9 {
  width: 75%;
}
.lyt_item8 {
  width: 66.66666667%;
}
.lyt_item7 {
  width: 58.33333333%;
}
.lyt_item6 {
  width: 50%;
}
.lyt_item5 {
  width: 41.66666667%;
}
.lyt_item4 {
  width: 33.33333333%;
}
.lyt_item3 {
  width: 25%;
}
.lyt_item2 {
  width: 16.66666667%;
}
.lyt_item1 {
  width: 8.33333333%;
}
.lyt_item img {
  max-width: 100%;
  width: auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 99; /* background: #fff */
}
#header > .lyt_grid {
  display: flex;
  justify-content: space-between;
}
#logo {
  padding: 16px 16px;
}
#logo a {
  display: block;
}
#logo a img {
  height: 40px;
}
#btn_nav {
  font-size: 24px;
  color: #fff;
  display: block;
  padding: 16px;
  line-height: 40px;
}
#nav {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  box-sizing: border-box;
}
.gnb_wrap {
  width: 100%;
  height: 60px;
  background: #5597d1;
  padding: 12px 16px;
  box-sizing: border-box;
  overflow: hidden;
}
#gnb {
  text-align: right;
}
#gnb > li {
  display: inline-block;
  margin-left: 16px;
  position: relative;
}
#gnb > li > a {
  display: inline-block;
  color: #fff;
  line-height: 36px;
  font-size: 14px;
}

#gnb > li:last-child:before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
#lnb {
  padding: 24px 24px 60px;
  height: calc(100vh - 60px);
  overflow: overlay;
  box-sizing: border-box;
}
#lnb > li {
  border-bottom: 1px solid #ddd;
  position: relative;
}
#lnb > li > a {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  color: #333;
  padding: 12px 0;
}
#lnb > li.add_deps > a:after {
  content: "\e943";
  font-family: "xeicon";
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 12px;
}
#lnb > li > ul {
  border-top: 2px solid #5597d1;
  padding: 12px;
  display: none;
}
#lnb > li > ul > li {
  border: 0;
  padding: 4px 0;
}
#lnb > li > ul > li > a {
  font-size: 18px;
  color: #444;
}
#btn_close_nav {
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  top: 22px;
  left: 16px;
  color: #fff;
  line-height: 0;
}

#header.f-nav {
  background: #fff;
}
#header.f-nav #btn_nav {
  color: #001e4d;
}
#header.f-nav {
  border-bottom: 1px solid #ddd;
}

/* Footer */
#footer {
  background-color: #2b2b2b;
}
.ft_info {
  border-bottom: 1px solid #797979;
}
.ft_info > .ft_info_list {
  text-align: center;
  display: flex;
  justify-content: center;
}
.ft_info > .ft_info_list li {
  text-align: center;
  padding: 8px 8px;
  position: relative;
  line-height: 0px;
}
.ft_info > .ft_info_list li a {
  color: #959595;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.ft_info > .ft_info_list li a:hover {
  color: #fff;
}
.ft_info > .ft_info_list li:last-child:before {
  content: "";
  display: block;
  width: 1px;
  height: 8px;
  background-color: #959595;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.ft_contact {
  padding: 16px 0;
}
.ft_contact > .ft_mail {
  text-align: center;
  padding: 0 16px;
  font-size: 14px;
  color: #959595;
  margin-bottom: 8px;
}
.ft_contact > .ft_mail a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.ft_contact > #fnb {
  display: none;
}
.family_site {
  position: relative;
  margin: 4px auto;
  text-align: center;
}
.family_site select {
  width: 120px;
  border: 1px solid #8a8a8a;
  background-color: transparent;
  font-size: 12px;
  padding: 2px 16px;
  color: #8a8a8a;
  cursor: pointer;
  background: url(../img/arrow_down_18dp.png) no-repeat right 50%;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.copyright {
  background-color: #000;
}
.copyright > p {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
}
#btn_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 34px;
  height: 34px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 8px;
}
#btn_top > img {
  width: 100%;
  vertical-align: top;
}
#btn_top:hover {
  background-color: #5597d1;
  border-color: #5597d1;
}

/* Mobile - Portrait */

/* Mobile - Landscape */
@media (min-width: 576px) {
}

/*********************************
	Tablet 
*********************************/
@media (min-width: 768px) {
  /* Footer */
  .ft_info > .ft_info_list li {
    padding: 12px 16px;
  }
  .ft_info > .ft_info_list li a {
    font-size: 14px;
    line-height: 22px;
  }
  .ft_contact > .ft_mail {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .family_site select {
    width: 140px;
    font-size: 14px;
    padding: 4px 16px;
  }
  .copyright {
    background-color: #000;
  }
  .copyright > p {
    font-size: 14px;
    line-height: 22px;
  }
  #btn_top {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 2px solid #ccc;
  }
}

/*********************************
	Desktop 
*********************************/
@media (min-width: 992px) {
  #header {
    height: 104px;
  }
  #logo {
    padding: 24px 16px;
  }
  #logo a img {
    height: 56px;
  }
  #btn_nav,
  #btn_close_nav {
    display: none;
  }
  .gnb_wrap {
    width: auto;
    height: auto;
    background: none;
    padding: 8px 16px 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  #gnb > li > a {
    color: #fff;
  }
  #gnb > li:last-child:before {
    background-color: #fff;
  }
  #nav {
    position: relative;
    top: auto;
    right: auto !important;
    height: auto;
    background: none;
  }
  #lnb {
    padding: 0;
    height: auto;
    overflow: initial;
    display: flex;
    justify-content: flex-end;
  }
  #lnb > li {
    border-bottom: 0;
    float: left;
    margin: 0 0px;
    margin-left: 8px;
    position: relative;
  }
  #lnb > li > a {
    display: block;
    font-size: 20px;
    padding: 8px 8px 40px;
    color: #fff;
  }
  #lnb > li > a:hover,
  #lnb > li a:hover {
    color: #5597d1;
  }
  #lnb > li:first-child > a {
    margin-left: 0px;
  }
  #lnb > li ul {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    background: #242424;
    width: 150px;
    text-align: center;
  }
  #lnb > li:hover > ul {
    display: block;
  }
  #lnb > li > ul > li > a {
    color: #fff;
    font-size: 16px;
  }
  #lnb > li.add_deps > a:after {
    display: none;
  }

  #header.f-nav #gnb > li > a {
    color: #333;
  }
  #header.f-nav #gnb > li:last-child:before {
    background-color: #333;
  }
  #header.f-nav #lnb > li > a {
    color: #333;
  }

  /* Footer */
  .ft_contact {
    padding: 32px 0 48px;
  }
  .ft_contact > #fnb {
    display: block;
  }
  .ft_contact > #fnb {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .ft_contact > #fnb > .fnb_list {
    text-align: center;
    padding: 0 24px;
  }
  .ft_contact > #fnb > .fnb_list h2 {
    color: #959595;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
  }
  .ft_contact > #fnb > .fnb_list ul li {
    margin-top: 4px;
  }
  .ft_contact > #fnb > .fnb_list ul li a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #959595;
  }
  .ft_contact > #fnb > .fnb_list a:hover {
    color: #fff;
  }
  .family_site {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
}

/*********************************
	Desktop (Large) 
*********************************/
@media (min-width: 1200px) {
  #lnb > li {
    margin-left: 32px;
  }
  #lnb > li > a {
    display: block;
    font-size: 20px;
    padding: 8px 16px 40px;
    color: #fff;
  }

  /* Footer */
  .ft_contact > #fnb > .fnb_list {
    text-align: center;
    padding: 0 40px;
  }
}
